@media (max-width: 992px) {
  .container {
    margin: 0 10rem;
  }

  .hamburger {
    display: block;
  }

  .header__list {
    display: none;
  }

  .section-character__avatar {
    height: 40rem;
    border-radius: 20rem;
  }
}

@media (max-width: 768px) and (min-height: 500px) {
  html {
    font-size: calc(100vw / 992 * 10);
  }

  .hamburger__list {
    top: 15rem;
    left: -15rem;
  }

  .section {
    grid-template: auto 5.6rem 24.4rem / repeat(4, 1fr);
    grid-template-areas:
      'image image image image'
      'filter filter filter filter'
      '. . . .'
      'content content content content';
    gap: 3rem;
  }

  .section-filter__container {
    grid-template: auto / repeat(1, 1fr);
  }

  .section-filter__element {
    font-size: 2.5rem;
  }

  .section-content__container {
    grid-template: auto / repeat(2, 1fr);
  }

  .section__name {
    font-size: 3rem;
  }

  .section__paragraph {
    font-size: 2.4rem;
  }

  .section__episode {
    font-size: 2.4rem;
  }

  .section__btn {
    font-size: 2.4rem;
  }

  .section-character__name {
    font-size: 5.8rem;
  }

  .section__header {
    font-size: 3rem;
  }

  .section-info__header,
  .section-series__header {
    font-size: 2.6rem;
  }

  .section-info__description,
  .section-series__title {
    font-size: 2.4rem;
  }

  .section-series__date {
    font-size: 2rem;
  }

  .section-resource__container {
    grid-template: auto / repeat(2, 1fr);
  }

  .section-character__avatar {
    height: 25rem;
    border-radius: 13rem;
  }
}

@media (max-width: 768px) and (min-height: 700px) {
  .hamburger__list {
    gap: 15rem;
    font-size: 4rem;
    top: 30rem;
  }
}

@media (max-width: 576px) {
  .hamburger__list {
    top: 21rem;
    left: -13rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: calc(100vw / 576 * 10);
  }

  .container {
    margin: 0 5em;
  }

  .section__btn {
    min-width: 10rem;
  }

  .menu {
    width: 50vw;
  }

  .hamburger__list {
    top: 15rem;
    left: -16rem;
  }

  .section-content__container,
  .section-resource__container {
    grid-template: auto / repeat(1, 1fr);
  }

  .section-character__avatar {
    height: 22rem;
    border-radius: 11rem;
  }

  .section-card__background-img {
    position: relative;
    padding-bottom: 75%;
  }

  .section-card__background-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 414px) and (min-height: 500px) {
  .hamburger__list {
    top: 20rem;
    left: -19rem;
    gap: 10rem;
    font-size: 4rem;
  }
}
